:root {
  /* Font family */
  --main-font-family: 'SF Pro Display', sans-serif;
  --second-family: 'Spectral', sans-serif;
  --third-family: 'Suisse Intl', sans-serif;
  --font3: 'IBM Plex Serif', sans-serif;
  --font4: 'Spectral SC', sans-serif;
  --font5: 'Commissioner', sans-serif;
  --font6: 'Manrope', sans-serif;
  --font7: 'Jost', sans-serif;
  --font8: 'TT Norms', sans-serif;

  /* Fonts size */
  --small-font-size: 14px;
  --base-font-size: 16px;

  /* Colors */

  /* Text */
  --main-text-cl: #ffffff;
  --secondary-text-cl: #174a94;

  /* Background color */
  --blue-bgc-cl: #ffffff;
  --logo-bgc-cl: linear-gradient(214deg, #174a94 0%, #15386b 100%);
}

html,
body {
  font-family: var(--main-font-family);
  font-size: var(--base-font-size);
  height: 100%;
  color: var(--main-text-cl);
  letter-spacing: normal;
}

section {
  width: 1920px;
  margin: 0 auto;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1920px) {
    width: 1920px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__container:last-child {
  margin-left: auto;
}

.header__logo {
  padding-top: 51px;
  padding-bottom: 32px;
  padding-right: 26px;
  padding-left: 26px;
  backdrop-filter: blur(30px);
  background: var(--logo-bgc-cl);
}

.header__toggle {
  display: flex;
  justify-content: center;
  margin-left: 51px;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.header__nav {
  margin-left: 19px;
}

.nav__list {
  display: flex;
  gap: 44px;
}

.nav__link {
  font-weight: 600;
  font-size: 14px;
  color: var(--secondary-text-cl);
}

.header__links {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}

.header__link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: var(--secondary-text-cl);
}

.header__links-text {
  margin-right: 18px;
}

.header__link--phone {
  flex-direction: column;
}

.header__link-phone-number {
  font-weight: 400;
  font-size: 23px;
  color: var(--secondary-text-cl);
}

.header__link-phone-text {
  font-weight: 400;
  font-size: 13px;
  color: var(--secondary-text-cl);
}
