.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tab) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include mq(desk) {
    width: 1920px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
