:root {
  /* Font family */
  --main-font-family: 'SF Pro Display', sans-serif;
  --second-family: 'Spectral', sans-serif;
  --third-family: 'Suisse Intl', sans-serif;
  --font3: 'IBM Plex Serif', sans-serif;
  --font4: 'Spectral SC', sans-serif;
  --font5: 'Commissioner', sans-serif;
  --font6: 'Manrope', sans-serif;
  --font7: 'Jost', sans-serif;
  --font8: 'TT Norms', sans-serif;

  /* Fonts size */
  --base-font-size: 16px;

  /* Colors */
  /* Text */
  --main-text-cl: #ffffff;
  --secondary-text-cl: #174a94;
  /* Background color */
  --blue-bgc-cl: #ffffff;
  --logo-bgc-cl: linear-gradient(214deg, #174a94 0%, #15386b 100%);
}
