<section class="hero">
  <div class="container">
    <ul class="hero__links">
      <li class="hero__links-item">
        <a href="">
          <img src="./images/hero/circle.png" alt="animation icon" />
          <p>Surrounded by juniper groves</p>
        </a>
      </li>
      <li class="hero__links-item">
        <a href="">
          <img src="./images/hero/circle.png" alt="animation icon" />
          <p>300 м.</p>
          <p>To the Black Sea coast</p>
        </a>
      </li>
      <li class="hero__links-item">
        <a href="">
          <img src="./images/hero/circle.png" alt="animation icon" />
          <p>Own access to the sea</p>
        </a>
      </li>
    </ul>
    <div class="hero__block">
      <h1>Business class apartments with finishing by the sea</h1>
      <div>
        <img src="" alt="Percentage" />
        <p>Installment and deferred payment until 2030</p>
      </div>
    </div>
    <a
      ><img src="" alt="styles_link" />
      <p>View plans</p></a
    >
  </div>
</section>
