<section class="hero">
  <div class="container">
    <ul class="hero__links">
      <li class="hero__links-item">
        <a href="">
          <img
            class="hero__links-img"
            src="./images/hero/circle.png"
            alt="animation icon"
          />
          <p class="hero__links-text">
            Surrounded by <br />
            juniper groves
          </p>
        </a>
      </li>
      <li class="hero__links-item">
        <a href="">
          <img
            class="hero__links-img"
            src="./images/hero/circle.png"
            alt="animation icon"
          />
          <p class="hero__links-title">300 м.</p>
          <p class="hero__links-text">To the Black Sea coast</p>
        </a>
      </li>
      <li class="hero__links-item">
        <a href="">
          <img
            class="hero__links-img"
            src="./images/hero/circle.png"
            alt="animation icon"
          />
          <p class="hero__links-text">Own access to the sea</p>
        </a>
      </li>
    </ul>
    <div class="hero__block">
      <h1>Business class apartments with finishing by the sea</h1>
      <div>
        <img src="" alt="Percentage" />
        <p class="hero__links-text">
          Installment and deferred payment until 2030
        </p>
      </div>
    </div>
    <a
      ><img src="" alt="styles_link" />
      <p class="hero__links-text">View plans</p></a
    >
  </div>
</section>
