.header__container {
  display: flex;
  align-items: center;
}

.header__container:last-child {
  margin-left: auto;
}

.header__logo {
  padding-top: 51px;
  padding-bottom: 32px;
  padding-right: 26px;
  padding-left: 26px;
  backdrop-filter: blur(30px);
  background: var(--logo-bgc-cl);
}

.header__toggle {
  display: flex;
  justify-content: center;
  margin-left: 51px;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.header__nav {
  margin-left: 19px;
}

.nav__list {
  display: flex;
  gap: 44px;
}

.nav__link {
  font-weight: 600;
  font-size: 14px;
  color: var(--secondary-text-cl);
}

.header__links {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}

.header__link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: var(--secondary-text-cl);
}

.header__links-text {
  margin-right: 18px;
}

.header__link--phone {
  flex-direction: column;
}

.header__link-phone-number {
  font-weight: 400;
  font-size: 23px;
  color: var(--secondary-text-cl);
}

.header__link-phone-text {
  font-weight: 400;
  font-size: 13px;
  color: var(--secondary-text-cl);
}
